.top-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    h4 {
        font-size: 25px;
        font-weight: 100;
    }
    a {
        font-size: 12px;
        text-decoration: none;
        color: #6f9eb4;
    }
}