.box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .box-img{
        height: 60%;
        background-color: #8ac39b;
    }
    .box-param{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 30%;
    }
}