.btn-chung{
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    transition: all 0.5s ease;
    &:hover{
        background: linear-gradient(to right, #ff0000, #00ff00);
        background-size: 200% auto;
        animation:  moveBackground 0.7s linear infinite;
    }
}
.ass3-bai1-container{
  font-family: 'Raleway', 'Arial', sans-serif;
}
.required::after {
  content: " *";
  color: red;
} 
p{
  padding:  0px !important;
}
@keyframes moveBackground {
    0% {
      background-position: 0% 50%;
    }
    25%{
        background-position: 50% 100%;
    }
    50%{
        background-position: 100% 50%;
    }
    100% {
      background-position: 50% 0%;
    }
  }